img {
    width: 1440px;
    height: 550px;
}

.text {
    text-align: center;
    font-size: 26px;
    margin: 10px 200px;
}

.buttons {
    text-align: center;
}

.home-btn button {
    padding: 15px;
    border: none;
    cursor: pointer;
    width: 100px;
    opacity: 0.9;
    background-color: #796179;
    font-size: 20px;
    text-decoration: none;
    margin: 10px 20px;
}

.home-btn button:hover {
    opacity: 1;
}